html{
    background-image: url("images/bg_bggenerator_com.png");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}
/* HEADER////////////////////////////////// */

/* Style of the entire header as a container */
header{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0%;
}

.topHeader{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 2em;
    padding-right: 0;
    margin: 0;
    height: 12%;
    width: 97%;
    /* background-color: #463f3f; */
}

.topHeader > div{
    margin: auto;
}

.logo > a > img{
    width: 6em;
    padding-right: 0;
    margin-right: 0;
}

.links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self:flex-start;
    height: 10px;
    margin-top: 4%;
}

.links > a{
    text-decoration: none;
    margin: 0.5em;
    padding: 1em;
    color: white;
}


#spacer{
    height: 6.5em;
    width: 100%;
}


.bottomHeader{
    margin: auto;
    padding: 1em;
    text-align: center;
}

.bottomHeader > h3{
    font-size: 2.5em;
    font-weight: 460;
}

/* Contact////////////////////////////////// */

.container{
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 500px;
    width: 100%;
    padding: 60px 45px;
    min-height: 500px;
    border-radius: 50px;
    background: #2c2c2c7e;
    box-shadow:  6px 6px 18px #242424,
                -6px -6px 18px #343434,
                inset 6px 6px 18px #242424,
                inset -6px -6px 18px #343434;
}

.container > img{
    border-radius: 50px;
    width: 300px;
    margin: auto;
    box-shadow:  6px 6px 18px #242424,
                -6px -6px 18px #343434,
                inset 6px 6px 18px #242424,
                inset -6px -6px 18px #343434;
}